html {
  height: 100%;
  width: 100%;
}

img {
  width: 100px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: brown;
}

filter {
  margin-top: 20px;
}

.blur{
  filter:blur(5px);
}
.brightness{
  filter:brightness(.6);
}
.contrast{
  filter:contrast(200%);
}
.drop-shadow{
  filter:drop-shadow(30px 10px 4px);
}
.grayscale{
  filter:grayscale(10);
}
.hue-rotate{
  filter:hue-rotate(90deg);
}
.invert{
  filter: invert(100%);
}
.opacity{
  filter: opacity(50%);
}
.saturate{
  filter: saturate(50%);
}
.sepia{
  filter: sepia(100%);
}